*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1905px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}

.primary-color {
    color: #FF0000;
}
.bg-primary {
    background-color: #FF0000;
}
.bg-secondary {
    background-color: black;

}


.btn {
    display: inline-block;
    font-size: 1.1em;
    color: white;
    background: #333333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;

}


.btn:hover {
    background: #9C140B;
    color: #333333;
}

.btn-light {
    background: #f4f4f4;
    color: #333333;
}


.bg-dark {
    background: #333333;
    color: #fff
}

.bg-light {
    background: #f4f4f4;
    color: #33333;
}

.py-1 {padding: 10px}
.py-2 {padding: 20px}
.py-3 {padding: 30px}


#header {
    color: white;
}

#logo {
    float: left;
    padding: 20px;
    font-weight: bolder;
    font-size: x-large;
}

#navbar,#navbar a {
    color: white;
    background: #333;
    text-decoration: none;
}

#navbar ul {
    list-style: none;
    float: right;
    border: 2px yellowgreen;
}

#navbar ul li {
    float: left;
    border: 2px yellowgreen;

}

#navbar ul li {
    padding: 20px;
    display: block;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background: #444;
    color: #FF0000;
}

#showcase {
    background: url("img/showcase.jpg.jpg") no-repeat center center/cover;
    height: 50vh;
}
#showcase_1 {
    background: url("img/boiler-room-1024x682-1.jpg") no-repeat center center/cover;
    height: 50vh;
}

#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 20vh;
}

#showcase .showcase-content h1 {
    font-size: 4em;
    line-height: 1.2em;

}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
    font-size 1.5em;
    text-align: center;
}

#home-info {
    height: 400px;
}



#home-info .info-content {
    float: bottom;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;

}

#home-info .info-content p {
    padding-bottom: 30px;
}
#main-footer {
    text-align: center;
    padding-bottom: 20px;

}

.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    color: white;
}
.box_secondary {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    color: red;
}
.box i{
    margin-bottom: 10px;
}

.box_nadpis {
    text-align: center;
    color: #FF0000;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-left {
    float: left;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    width: 77%;
    border-radius: 50%;
    margin: auto;
}

#testimonials {
    height: 600px;
    background: url("img/BOILER.jpg") no-repeat center center/cover;
    padding-top: 100px;
}
#testimonials h2 {
    color: white;
    text-align: center;
    padding-bottom: 40px;
    font-size: 3em;

}

#testimonials .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
}

#testimonials .testimonial img {
    width: 100px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

#contact-form .form-group {
    margin-bottom: 20px;

}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #black solid;

}

#contact-form textarea {
    height: 200px;

}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #FF0000;
}
